<ion-modal-view>
    <ion-view view-title='' style="background-color : transparent;">
        <ion-content padding="'true'" class="has-header">
            <div class="list card">
                <div class="item item-divider">Thông báo
                    <button class="glyphicon glyphicon-remove" ng-click="closedone()" style="float:right;margin-top:0px; border:none; color:red">X</button>
                </div>
                <div class="item item-body">
                    <div>
                       <center>Thực hiện thành công <img src="img/check.gif" style="width:40px; height:40px; margin-bottom: -16px;"></center>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
</ion-modal-view>