<ion-modal-view>
    <ion-view view-title='' style="background-color : transparent;">
        <ion-content padding="'true'" class="has-header">
            <div class="list card">
        <div class="item item-divider">Thông báo
            <button class="glyphicon glyphicon-remove" ng-click="closepopup()" style="float:right;margin-top:0px; border:none; color:red">X</button>
        </div>
        <div class="item item-body">
            <div>
                Hệ thống đang nâng cấp
            </div>
        </div>
        </div>
        </ion-content>
    </ion-view>
</ion-modal-view>
