  <style>
  .img{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border:3px solid #F8F8F8;
    margin-top: 10px;
  }
  .ch{
         width: 47%;
         height: 50px;
         text-align: center;
         margin-top: 20px;
         font-weight: 700;
     }
     .ciclep{
         border-radius: 6px;
         margin-left: 20px;
         font-size: 40px;
         padding-left: 10px;
         padding-right: 10px;
         color: #fff;
     }
     .dmenu{
       width: 20%;
       max-width: 130px;
       height: 50px;
       border:none;
     }
      .item-complex.item-icon-left .item-content {
      padding-left: 54px;
      padding-right: 30px;
    }
 </style>
  
  <ion-view view-title="QUẢN LÝ TÀI KHOẢN" cache-view="false" hide-back-button="false">
    <!--<ion-nav-buttons side="left">
        <button class="button button-icon button-clear" menu-toggle="left">
            <img src="img/DICH_VU/dm.png">
        </button>
    </ion-nav-buttons>  -->
    <ion-content>
          <div class="button-bar" style="width:100%; margin-top:0px;">
                        <!--<div class="ch"> 
                          <a ng-href="#/app/epayment-tappay" class="ciclep ion-card" style="border: 1px solid #0073CC;background:#0073CC ;padding-left: 11px; padding-right: 10px;-webkit-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);-moz-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);"></a>
                          <br/><br/><span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Tra cứu</span>-->
                          <!--<a ng-click="popup()" class="cicle"> <img src="img/Thanh_Toan/paynow.png" width="54.5px" height="55px"></a>
                      <br/>
                          <span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Paynow</span>-->
                      <!--</div>-->
                      <div class="ch" style="margin-top:15px">
                          <a ng-href="#/app/epayment" class="ciclep" style="border: 1px solid #E96709;padding-left: 6px;  padding-top:5px; padding-bottom:6px ;padding-right: 6px;-webkit-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);-moz-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);">
                        <img src="img/tappay.png" style="margin-bottom: -10px; margin-right:-10px; height:50px">
                          </a>                    
                       <br/><br/><span style="color:#000;margin-right:-15px; font-size:13px;font-weight: 500;">Ví Tapay</span>
                        <!--<a ng-click="popup()" class="cicle"> <img src="img/Thanh_Toan/vidientu.png" width="54.5px" height="55px"></a>
                      <br/>
                       <span style="color:#000;margin-right:-25px; font-size:11px;font-weight: 500;">Ví điện tử</span>-->
                      </div>
                      
                      <div class="ch"> 
                          <a ng-href="#/app/evisa" class="ciclep ion-cash" style="border: 1px solid #E96709;background:#E96709; padding-top:5px; padding-bottom:4px ;padding-left:11px; padding-right:11px;-webkit-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);-moz-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);"></a>
                          <br/><br/><span style="color:#000;margin-left:15px; font-size:13px;font-weight: 500;">Thẻ trả trước</span>
                          <!--<a ng-click="popup()" class="cicle"> <img src="img/Thanh_Toan/visa.png" width="54.5px" height="55px"></a>
                      <br/>
                          <span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">ViSa</span>-->
                      </div>
                      
                      
                         
        </div>
        <div class="button-bar" style="width:100%; margin-top:30px;">   
                      <!--<div class="ch">
                        <a ng-href="#/app/ehome-need" class="ciclep ion-android-home" style="border: 1px solid #26C9DA;padding-left:12px; padding-rught:12px; background:#26C9DA;-webkit-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);-moz-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);"></a> 
                        <br/><br/><span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Tại nhà / Nhu cầu</span>
                     </div>          
                      
                       <div class="ch"> 
                          <a ng-click="popup()" class="ciclep ion-social-facebook" style="border: 1px solid #2EB056;background:#2EB056 ;padding-left: 20px; padding-right: 19px;-webkit-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);-moz-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);"></a>
                          <br/><br/><span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Mạng xã hội</span>-->
                          <!--<a ng-click="popup()" class="cicle"> <img src="img/Thanh_Toan/paynow.png" width="54.5px" height="55px"></a>
                      <br/>
                          <span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Paynow</span>-->
                      <!--</div>-->
                      
                      <!--<div class="ch">-->
                        <!--<a ng-click="popup()" class="ciclep ion-android-share-alt" style="border: 1px solid #07A7CB;background:#07A7CB; padding-right:15px;-webkit-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);-moz-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);"></a> 
                        <br/><br/><span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Theo nhu cầu</span>                   -->
                     <!--</div>   -->
        </div>
         <!--<div class="button-bar" style="width:100%; margin-top:30px; margin-bottom:70px;">
                      <div class="ch">-->
                          <!--<a ng-click="popup()" class="ciclep ion-android-calendar" style="border: 1px solid #04B903;background:#04B903;padding-left: 13px;padding-right: 13px;;-webkit-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);-moz-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);"></a>                    
                       <br/><br/><span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Trả trước</span>-->
                        <!--<a ng-click="popup()" class="cicle"> <img src="img/Thanh_Toan/tratruoc.png" width="54.5px" height="55px"></a>
                      <br/>
                       <span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Trả trước</span>-->
                      <!--</div>
        </div>-->
    </ion-content>

  </ion-view>
