  <style>
  .img{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border:3px solid #F8F8F8;
    margin-top: 10px;
  }
  .ch{
         width: 47%;
         height: 50px;
         text-align: center;
         margin-top: 20px;
         font-weight: 700;
     }
     .ciclep{
         border-radius: 6px;
         margin-left: 20px;
         font-size: 40px;
         padding-left: 10px;
         padding-right: 10px;
         color: #fff;
     }
     .dmenu{
       width: 20%;
       max-width: 130px;
       height: 50px;
       border:none;
     }
      .item-complex.item-icon-left .item-content {
      padding-left: 54px;
      padding-right: 30px;
    }
 </style>
  
  <ion-view view-title="THANH TOÁN" cache-view="false" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear" menu-toggle="left">
            <img src="img/DICH_VU/dm.png">
        </button>
    </ion-nav-buttons>  
    <ion-content>
          <div class="button-bar" style="width:100%; margin-top:0px;">
                        <div class="ch"> 
                          <a ng-href="#/app/epayment-tappay" class="ciclep ion-ios-search-strong" style="border: 1px solid #00838F;background:#00838F; padding-top:3px; padding-bottom:3px; padding-left: 15px; padding-right: 15px;-webkit-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);-moz-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);"></a>
                          <br/><br/><span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Tra cứu</span>
                          <!--<a ng-click="popup()" class="cicle"> <img src="img/Thanh_Toan/paynow.png" width="54.5px" height="55px"></a>
                      <br/>
                          <span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Paynow</span>-->
                      </div>
                      
                      <div class="ch"> 
                          <a ng-href="#/app/my-account" class="ciclep ion-person-add" style="border: 1px solid #EE560B;background:#EE560B; padding-top:3px; padding-bottom:3px; padding-left: 13px; padding-right: 13px;-webkit-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);-moz-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);"></a>
                          <br/><br/><span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Quản lý tài khoản</span>
                          <!--<a ng-click="popup()" class="cicle"> <img src="img/Thanh_Toan/paynow.png" width="54.5px" height="55px"></a>
                      <br/>
                          <span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Paynow</span>-->
                      </div>
         </div>
    </ion-content>

  </ion-view>
