  <style>
  .img{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border:3px solid #F8F8F8;
    margin-top: 10px;
  }
  .ch{
         width: 47%;
         height: 50px;
         text-align: center;
         margin-top: 20px;
         font-weight: 700;
     }
     .cicles{
         border-radius: 16px;
         margin-left: 20px;
         font-size: 40px;
         padding-left: 10px;
         padding-right: 10px;
         color: #fff;
     }
     .dmenu{
       width: 20%;
       max-width: 130px;
       height: 50px;
       border:none;
     }
      .item-complex.item-icon-left .item-content {
      padding-left: 54px;
      padding-right: 30px;
    }
</style>

<ion-view view-title="Tại nhà / Theo nhu cầu" cache-view="false" hide-back-button="false">
  <!--<ion-nav-buttons side="left">
        <button class="button button-icon button-clear" menu-toggle="left">
            <img src="img/DICH_VU/dm.png">
        </button>
  </ion-nav-buttons>  -->
  <ion-content>
         <div class="button-bar" style="width:100%; margin-top:0px;">
                      <div class="ch"> 
                          <a  ng-href="#/app/cashiers" class="cicles ion-ios-search" style="border: 1px solid #009E3D;background:#009E3D ;padding-left: 13px; padding-right: 13px;-webkit-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);-moz-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);"></a>
                          <br/><br/><span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Tìm thu ngân viên</span>
                      </div>
                      
                      <div class="ch">
                        <a ng-href="#/app/ecalendar" class="cicles ion-ios-compose-outline" style="border: 1px solid #F37D2D;background:#F37D2D;padding-left:13px; padding-right:13px;-webkit-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);-moz-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);"></a> 
                        <br/><br/><span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Đặt lịch thanh toán</span>
                    </div>
        </div>
  </ion-content>   
</ion-view>
