<ion-view view-title="<center>Chi Tiết Thanh Toán</center>" hide-back-button="false" cache-view='false'>
   <ion-content class="padding">
    <!--<hr/>-->
    <center>
    <div style="padding-top:0px; padding-bottom:50px">
        <table style="padding:1px; width:93%">
                        <tr>	<center>	
                                    <select class="item item-input" style="width:95%; height:40px; border-radius:5px;">
                                    <option value="volvo">Thanh toán tất cả hóa đơn</option>
                                    <option value="volvo">Hóa đơn tiền điện tháng 2</option>
                                    <option value="saab">Hóa đơn tiền điện tháng 4</option>
                                    <option value="opel">Hóa đơn tiền điện tháng 5</option>
                                    </select>
                                </center>
							</tr>
                        <tr>
                            <td><h5 style="color:#000; padding-top:5px; width:130px">Mã khách hàng :</h5></td>
                                <td style="color:#056FAB">{{user.customer_code}}</td>
                        </tr>
                        <tr>
                            <td><h5 style="color:#000; padding-top:5px; width:120px">Tên khách hàng: </h5></td>
                            <td>{{user.full_name}}</td>
                        </tr>
                        <tr>
                            <td><h5 style="color:#000; padding-top:5px; width:130px">Mã hóa đơn :</h5></td>
                                <td style="color:#598FDF">GNC2016849215640124</td>
                        </tr>
                         <tr>
                            <td><h5 style="color:#000; padding-top:5px; width:130px">Số tiền thanh toán :</h5></td>
                                <td style="color:#598FDF">1.090.000 VNĐ </td>
                                <!--<a style="padding-left:5px; color:red" onclick="hideinput()">chi tiết</a>-->
                        </tr>
                        <tr>
                                <td><h5 style="color:#000; padding-top:5px; width:130px">Trạng thái: </h5></td>
                                <td style="color:red">Chưa thanh toán</td>
                            </tr>
                    </table>
                          <center ng-hide="invoices.data.status == 'paid'" style="width:100%">
                            <img src="img/color-stripe.jpg" style="margin:auto; width:300px; display:block; margin-bottom:5px; margin-top:15px">
                            <a class="btnpayment button" href="#/app/epayment-tappaytab/{{user.customerId}}/{{invoices.data.payment.debt_amount}}/1" style="color:#fff; margin-right:5px">TAPPAY</a>
                            <a class="btnpayment2 button" href="#/app/epayment-tappaytab/{{user.customerId}}/{{invoices.data.payment.debt_amount}}/2" ng-click="searchContent2();" style="color:#fff">ATM</a>
                            <a class="btnpayment button" href="#" ng-click="popup()" style="color:#fff; margin-right:5px; background:#43753A">CREDIT</a>
                            <!--<a class="btnpayment2 button" href="#/app/epayment-tappaytab/{{user.customerId}}/{{invoices.data.payment.debt_amount}}/2" ng-click="searchContent2();" style="color:#fff">ATM</a>-->
                        </center>
                       <center ng-hide="invoices.data.status == 'paid'">
                            <a class="btnpayment button" href="#" ng-click="popup()" style="color:#fff; margin-right:5px; background:#EE560B">THẺ CÀO</a>
                            <a class="btnpayment2 button" href="#" ng-click="popup()" ng-click="searchContent2();" style="color:#fff; font-size:13px; background:#C2CF8A">TRẢ TRƯỚC</a>
                            <a class="btnpayment button" href="#" ng-click="popup()" style="color:#fff; margin-right:5px; background:#E5001D; font-size:14px">EASYCARD</a>
                            <!--<a class="btnpayment2 button" href="#/app/epayment-tappaytab/{{user.customerId}}/{{invoices.data.payment.debt_amount}}/2" ng-click="searchContent2();" style="color:#fff">ATM</a>-->
                        </center>
                        <center ng-hide="invoices.data.status == 'paid'">
                            <a class="btnpayment2 button" href="#" ng-click="popup()" ng-click="searchContent2();" style="color:#fff; font-size:13px; background:#4862A3">FACEBOOK</a>
                            <a class="btnpayment button" href="#" ng-click="popup()" style="color:#fff; margin-right:5px; background:#26C9DA">NHU CẦU</a>
                        </center>
    </div>
    </center>
   </ion-content>
</ion-view>
