  <style>
  .img{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border:3px solid #F8F8F8;
    margin-top: 10px;
  }
  .ch{
         width: 47%;
         height: 50px;
         text-align: center;
         margin-top: 20px;
         font-weight: 700;
     }
     .ciclep{
         border-radius: 6px;
         margin-left: 20px;
         font-size: 40px;
         padding-left: 10px;
         padding-right: 10px;
         color: #fff;
     }
     .dmenu{
       width: 20%;
       max-width: 130px;
       height: 50px;
       border:none;
     }
      .item-complex.item-icon-left .item-content {
      padding-left: 54px;
      padding-right: 30px;
    }
 </style>
<ion-view cache-view="false" view-title="<center>Thẻ trả trước</center>">
    <ion-content class="padding">  
        <div class="button-bar" style="width:100%; margin-top:0px;">
            
            	<div class="ch">
                        <a ng-click="popup()" class="ciclep ion-card" style="border: 1px solid #26C9DA;background:#26C9DA; padding-top:5px; padding-bottom:5px ;padding-left:13px; padding-right:13px;-webkit-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);-moz-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);"></a> 
                        <br/><br/><span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">EasyCard</span>
                        <!--<a ng-click="popup()" class="cicle"> <img src="img/Thanh_Toan/tainha.png" width="54.5px" height="55px"></a>
                      <br/>
                        <span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Tại nhà</span>-->
                     </div> 
            
                      <!--<div class="ch">
                          <a ng-href="#/app/evisa-debit" class="ciclep ion-card" style="border: 1px solid #E96709;margin-left:0px; background:#E96709;-webkit-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);-moz-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);"></a> 
                       <br/><br/><span style="color:#000;margin-left:0px; font-size:11px;font-weight: 500;">Thẻ ATM</span>-->
                     <!--<a ng-click="popup()" class="cicle"> <img src="img/Thanh_Toan/tructuyen.png" width="54.5px" height="55px"></a>
                      <br/> <span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Trực tuyến</span>-->
                      <!--</div>
                      <div class="ch"> 
                          <a ng-href="#/app/evisa-credit" class="ciclep ion-cash" style="border: 1px solid #2EB056; margin-left:0px; background:#2EB056 ;padding-left: 8px; padding-right: 8px;-webkit-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);-moz-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);"></a>
                          <br/><br/><span style="color:#000;margin-left:0px; font-size:11px;font-weight: 500;">Thẻ tín dụng</span>-->
                          <!--<a ng-click="popup()" class="cicle"> <img src="img/Thanh_Toan/paynow.png" width="54.5px" height="55px"></a>
                      <br/>
                          <span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Paynow</span>-->
                      <!--</div>  -->
                       <div class="ch">
                          <a ng-href="#/app/epayment-prepay" class="ciclep ion-social-buffer-outline" style="border: 1px solid #8E44AD; margin-left:0px; background:#8E44AD; padding-top:5px; padding-bottom:5px ;padding-left:16px; padding-right:16px;-webkit-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);-moz-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);"></a> 
                          <!--ng-href="#/app/epayment-prepay"-->
                       <br/><br/><span style="color:#000;margin-left:0px; font-size:11px;font-weight: 500;">Thẻ trả trước</span>
                     <!--<a ng-click="popup()" class="cicle"> <img src="img/Thanh_Toan/tructuyen.png" width="54.5px" height="55px"></a>
                      <br/> <span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Trực tuyến</span>-->
                      </div> 
        </div>
    </ion-content>
</ion-view>
