<style> 
  .S {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #da5350), color-stop(1, #da5350));
	background:-moz-linear-gradient(top, #da5350 5%, #da5350 100%);
	background:-webkit-linear-gradient(top, #da5350 5%, #da5350 100%);
	background:-o-linear-gradient(top, #da5350 5%, #da5350 100%);
	background:-ms-linear-gradient(top, #da5350 5%, #da5350 100%);
	background:linear-gradient(to bottom, #da5350 5%, #da5350 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#da5350', endColorstr='#da5350',GradientType=0);
	background-color:#da5350;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:9px 14px;
	text-decoration:none;
}

.padding{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
.ui-datepicker {
                margin-left: -30px;
                margin-top: 15px;
            }
            .ha a{
                text-decoration: none;
            }
 table, th, td {
    padding: 5px;
}
.nti{
    width: 35px;
    height: 35px;
    margin-bottom: -10px;
    margin-right: 5px;
}
#map {
    height: 39%;
    width: 100%;
}
.scroll {
    height: 100%;
}
</style>
<ion-view view-title="Tìm thu ngân viên" cache-view="true" enable-menu-with-back-views="false">
  <ion-content class="padding">
      <div id="map" data-tap-disabled="true"></div>
      <div>
          <center>
                <!--<table style="width:100%; margin-top:5px;">
                    <tr>
                        <td colspan="2">
                            <label class="item item-input" style="width:90%; height:40px; border-radius:5px; border:none;"> 
                                Vĩ độ
                                <input type="text" ng-model="latitude" placeholder="latitude" readonly style="border: 1px solid #DDDDDD; border-radius: 5px; margin-left: 37px; padding-left: 5px; min-height:37px">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="item item-input" style="width:90%; height:40px; border-radius:5px; border:none;"> 
                                Kinh độ
                                <input type="text" ng-model="longitude" placeholder="longtitude" readonly style="border: 1px solid #DDDDDD; border-radius: 5px; margin-left: 20px; padding-left: 5px; min-height:37px">
                            </label>
                        </td>
                    </tr>
                </table> -->
                <p style="color:red; font-size:13px; margin:0">{{error_message}}</p>
            </center>
           
            <center style="margin-bottom:15px">
            <button class="btnlogin button ion-ios-search" ng-click="position()" style="color:#fff"><i style="padding-left:5px;">Tra cứu</i></button>
            </center>
            
            <div ng-hide="tpos">
            Không có thông tin nào!
            </div>
            <div id="list_content"style="padding-bottom:40px">
            <hr style="border-top: dashed 1px #70389e; margin-bottom:10px; margin-top:15px"/>
            <div id="contentDiv"  ng-repeat="content in contents"  style="padding-bottom:50px" class="ha" ng-show="tpos">
                    <a>
                    <img src="img/nof.png" class="nti"/>
                       {{content.fullname}}
                       <a href="#" style="float: right; margin-right: 5px;" ng-click="Cashiers(content.cashiercode)">
                           <img src="http://maps.google.com/mapfiles/ms/icons/green.png"/>
                       </a>
                    </a>
                <hr style="border-top: dashed 1px #70389e; margin-bottom:10px; margin-top:15px"/>
                <!--<div ng-bind-html="content.content">
                </div>-->
                <!--<hr/>-->
            </div>
            </div>
      </div>
  </ion-content>
</ion-view>
