<style> 
  .S {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #da5350), color-stop(1, #da5350));
	background:-moz-linear-gradient(top, #da5350 5%, #da5350 100%);
	background:-webkit-linear-gradient(top, #da5350 5%, #da5350 100%);
	background:-o-linear-gradient(top, #da5350 5%, #da5350 100%);
	background:-ms-linear-gradient(top, #da5350 5%, #da5350 100%);
	background:linear-gradient(to bottom, #da5350 5%, #da5350 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#da5350', endColorstr='#da5350',GradientType=0);
	background-color:#da5350;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:9px 14px;
	text-decoration:none;
}

.padding{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
.ui-datepicker {
                margin-left:0px;
                margin-top: 5px;
            }
            .ha a{
                text-decoration: none;
            }
 table, th, td {
    padding: 5px;
}
.nti{
    width: 35px;
    height: 35px;
    margin-bottom: -10px;
    margin-right: 5px;
}
   .input-label{
        font-size: 13px;
    }
    /*SELECT ELEMENT WITH UNICODE SYMBOL: DOWN-ARROW (▼)*/
            select#selectPointOfInterest
            {
               width                    : 100%;
               height                   : 35px;
               border-radius            : 5px;
               border                   : 1px solid #E0E0E0;
               font-family              : Arial,  Calibri, Tahoma, Verdana;
               font-size                : 10.5pt;
               color                    : #000099;
            }
            select#selectPointOfInterest::-ms-expand {display: none;}
            select#selectPointOfInterest option
            {
                margin-top: 70px;
                padding             : 4px 10px 4px 10px;
                font-size           : 11pt;
                font-weight         : normal;
            }
            select#selectPointOfInterest option[selected]{ font-weight:100}
            select#selectPointOfInterest option:nth-child(even) { background-color:#f5f5f5; }
            select#selectPointOfInterest:hover {font-weight: 400;}
            select#selectPointOfInterest:focus {font-weight: 200;}

            /*LABEL FOR SELECT*/
            label#lblSelect{ position: relative; display: inline-block;}
            /*DOWNWARD ARROW (25bc)*/
            label#lblSelect::after
            {
                content                 : "\25bc";
                position                : absolute;
                top                     : 0;
                right                   : 0;
                bottom                  : 0;
                width                   : 20pt;
                line-height             : 40pt;
                vertical-align          : middle;
                text-align              : center;
                background              : #000099;
                color                   : #fefefe;
               -moz-border-radius       : 0 6px 6px 0;
               -webkit-border-radius    : 0 6px 6px 0;
                border-radius           : 0 6px 6px 0;
                pointer-events          : none;
            }
</style>
<ion-view view-title="Dịch vụ doanh nghiệp" cache-view="true" enable-menu-with-back-views="false">
  <ion-content class="padding">
      <div>
          <center>
                <table style="width:100%; margin-top:5px;">
                    <tr>
                        <td colspan="2">
                            <label class="item item-input" style="width:96%; height:40px; border-radius:5px; border:none;"> 
                                <input type="text" ng-model="search_data.e_name"  placeholder="Tên doanh nghiệp" style="border: 1px solid #DDDDDD; border-radius: 5px;; padding-left: 5px; min-height:37px">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="item item-input" style="width:96%; height:40px; border-radius:5px; border:none;"> 
                                <input type="text" ng-model="search_data.full_name" placeholder="Tên người đại diện" style="border: 1px solid #DDDDDD; border-radius: 5px; padding-left: 5px; min-height:37px">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="item item-input" style="width:96%; height:40px; border-radius:5px; border:none;"> 
                                <input type="text" ng-model="search_data.taxcode"  placeholder="Mã số thuế" onkeypress="return kaka(event, this)" style="border: 1px solid #DDDDDD; border-radius: 5px;  padding-left: 5px; min-height:37px">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="item item-input" style="width:96%; height:40px; border-radius:5px; border:none;"> 
                                <input type="text" ng-model="search_data.mobile" placeholder="Điện thoại liên hệ" onkeypress="return kaka(event, this)"  style="border: 1px solid #DDDDDD; border-radius: 5px; padding-left: 5px; min-height:37px">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="item item-input" style="width:96%; height:40px; border-radius:5px; border:none;"> 
                                <input type="text" ng-model="search_data.email"  placeholder="Địa chỉ email" style="border: 1px solid #DDDDDD; border-radius: 5px;  padding-left: 5px; min-height:37px">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="item item-input" style="width:96%; height:40px; border-radius:5px; border:none;"> 
                                <!--<input type="text" ng-model="search_data.provinceId"  placeholder="Mã tỉnh/thành trụ sở/vpgd" onkeypress="return kaka(event, this)"  style="border: 1px solid #DDDDDD; border-radius: 5px;  padding-left: 5px; min-height:37px">-->
                                 <select ng-model="search_data.provinceId" id="selectPointOfInterest" ng-options="city.value for city in citys" required>
                                </select>                           
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="item item-input" style="width:96%; height:40px; border-radius:5px; border:none;"> 
                                <input type="text" ng-model="search_data.districtId" placeholder="Mã quận/huyện trụ sở/vpgd"  onkeypress="return kaka(event, this)" style="border: 1px solid #DDDDDD; border-radius: 5px; padding-left: 5px; min-height:37px">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="item item-input" style="width:96%; height:40px; border-radius:5px; border:none;"> 
                                <input type="text" ng-model="search_data.address"  placeholder="Địa chỉ trụ sở/vpgd" style="border: 1px solid #DDDDDD; border-radius: 5px;  padding-left: 5px; min-height:37px">
                            </label>
                        </td>
                    </tr>
                     <tr>
                        <td colspan="2">
                            <label class="item item-input" style="width:96%; height:40px; border-radius:5px; border:none;"> 
                                <!--<input type="text" ng-model="search_data.regProvinceId"  placeholder="Mã tỉnh/thành nơi đăng ký sử dụng điện " onkeypress="return kaka(event, this)" style="border: 1px solid #DDDDDD; border-radius: 5px;  padding-left: 5px; min-height:37px">-->
                                 <select ng-model="search_data.regProvinceId" id="selectPointOfInterest" ng-options="city.value for city in citys" required>
                                </select>
                            </label>
                        </td>
                    </tr>
                     <tr>
                        <td colspan="2">
                            <label class="item item-input" style="width:96%; height:40px; border-radius:5px; border:none;"> 
                                <input type="text" ng-model="search_data.regDistrictId"  placeholder="Mã quận/huyện nới đăng ký sử dụng điện " onkeypress="return kaka(event, this)" style="border: 1px solid #DDDDDD; border-radius: 5px;  padding-left: 5px; min-height:37px">
                            </label>
                        </td>
                    </tr>
                     <tr>
                        <td colspan="2">
                            <label class="item item-input" style="width:96%; height:40px; border-radius:5px; border:none;"> 
                                <input type="text" ng-model="search_data.regAddress"  placeholder="Địa chỉ nơi đăng ký sử dụng điện" style="border: 1px solid #DDDDDD; border-radius: 5px;  padding-left: 5px; min-height:37px">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="item item-input" style="width:96%; height:40px; border-radius:5px; border:none;"> 
                                <input type="text" ng-model="search_data.bankAccount" placeholder="Số tài khoản ngân hàng" onkeypress="return kaka(event, this)" style="border: 1px solid #DDDDDD; border-radius: 5px;  min-height:37px">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="item item-input" style="width:96%; height:40px; border-radius:5px; border:none;"> 
                                <select ng-model="search_data.bankName" id="selectPointOfInterest" ng-options="ebank.value for ebank in ebanklist" required>
                                </select>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="item item-input" style="width:96%; height:40px; border-radius:5px; border:none;"> 
                                 <select style="width:100%;text-align:center; border: 1px solid #DDDDDD; border-radius: 5px; padding-left: 5px; min-height:37px" ng-model="search_data.type" ng-init="search_data.type='0'">
                                    <option value="0" selected="selected">Loại hình</option>
                                    <option value="1" >Ngắn hạn</option>
                                    <option value="2" >Dài hạn</option>
                                </select>
                            </label>
                        </td>
                    </tr>
                </table> 
            </center>
           
            <center style="padding-bottom:40px">
            <button class="btnlogin button ion-ios-checkmark-outline" ng-click="searchContent(search_data); done()" style="color:#fff"><i style="padding-left:5px;">Đăng ký</i></button>
            </center>
      </div>
        <script language="javascript">
                    $('#day1' ).datepicker({ dateFormat: 'dd/mm/yy' });
                    $(document).click(function (e) {
                        var ele = $(e.target);
                        if (!ele.hasClass("hasDatepicker") && !ele.hasClass("ui-datepicker") && !ele.hasClass("ui-icon") && !$(ele).parent().parents(".ui-datepicker").length)
                            $(".hasDatepicker").datepicker("hide");
                    });
                    
                    // chỉ nhập cho nhập số for firefox
                    function kaka(e, kakatexto) {
                        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                            return false;
                        }
                    }
         </script>
  </ion-content>
</ion-view>
