  <style>
  .img{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border:3px solid #F8F8F8;
    margin-top: 10px;
  }
  .ch{
         width: 48%;
         height: 50px;
         text-align: center;
         margin-top: 20px;
         font-weight: 700;
     }
     .cicles{
         border-radius: 6px;
         margin-left: 20px;
         font-size: 40px;
         padding-left: 10px;
         padding-right: 10px;
         color: #fff;
     }
     .dmenu{
       width: 20%;
       max-width: 130px;
       height: 50px;
       border:none;
     }
     
      .footer{
            clear: both;
            position: absolute;
            z-index: 10;
            height: 43px;
            margin-top: 60px;
            margin-bottom: -10px;
            /*margin-left: -100px;
            margin-right: -100px;*/
            /*min-width: 118px;*/
            min-width: 100%;
            text-align: center;
            font-size: 11px;
            color: #fff;
            bottom: 0;
     }
      .item-complex.item-icon-left .item-content {
      padding-left: 54px;
      padding-right: 30px;
    }
</style>

<ion-view view-title="Đăng ký dịch vụ" cache-view="false" enable-menu-with-back-views="false">  
  <ion-content>
         <div class="button-bar" style="width:100%; margin-top:5px;">
                      <div class="ch">
                          <a ng-href="#/app/cregister" class="cicles ion-ios-personadd-outline" style="border: 1px solid #ED7529;background:#ED7529; padding-top:7px; padding-bottom:7px ;padding-left:20px; padding-right:20px;-webkit-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);-moz-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);"></a> 
                       <br/><br/><span style="color:#000;margin-left:15px; font-size:12px;font-weight: 500;">Cá nhân
</span>
                    <!--<a ng-click="popup()" class="cicle"> <img src="img/DICH_VU/thongtinhopdong.png" width="54.5px" height="55px"></a>
                     <br/> <span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Thông tin hợp đồng
</span>-->
                      </div>
                      <div class="ch"> 
                          <a  ng-href="#/app/eregister" class="cicles ion-ios-people-outline" style="border: 1px solid #009E3D;background:#009E3D;  padding-top:7px; padding-bottom:7px ;padding-left: 16px; padding-right: 16px;-webkit-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);-moz-box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.56);"></a>
                          <br/><br/><span style="color:#000;margin-left:15px; font-size:12px;font-weight: 500;">Doanh nghiệp
</span>
                     <!--<a ng-click="popup()" class="cicle"> <img src="img/DICH_VU/tim.png" width="54.5px" height="55px"></a>
                          <br/><span style="color:#000;margin-left:15px; font-size:11px;font-weight: 500;">Tìm thu ngân viên
</span>-->
                      </div>
        </div>
  </ion-content>
    
</ion-view>
